* {
    font-family: 'Roboto', sans-serif;
    max-height: 100vh;
    margin: 0px;
}

.card {
    background-color: red;
}

.img {
    display: "flex";
    width: "600px";
    height: "300px";
    border: "1px solid #000";
    border-radius: "8px";
    margin: "auto"
}