.mainContainer {
    background-color: #f7f7f7;
    width: 100%;
}

body { 

}

.mainContainer > p {
    font: 400 1em "Oswald";
    background: #333333  ;
    color: #E1FF27;
    text-align: center;
    margin: 0;
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	padding: 1em 0em;
	width: 100%;
    border-top: 1px solid #E1FF27;
  
  span {

  	font: 700 4em "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	display: block;
    margin: 0 auto;
  	text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

	  background: url('../../assets/Barra.png') repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;

/* Animate Background Image */

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 40s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;

  }
}

/* Animate Background Image */

@keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}