.header {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  background-color: #222222e3;
  height: 10vh;
  z-index: 1000;
}

.logoHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem 0 1rem;

}

.logoHeader > img {
  background-color: transparent;
  border: 1px solid transparent;
  height: 32px;
  width: 32px;

}

.buttonsHeader {
  display: flex;
  width: auto;
  margin-left: auto;
}